*{
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;

}
.container{
  max-width: 100%;
  height: auto;
}
 .clearfix:after,
 section:after{
  content: '';
  display: block;
  clear: both;
}
  /*typograpghy  */
  h1{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 0;
  }
  p{
    margin-top: 0;
    line-height: 1.5;
  }
  p:last-of-type{
    margin-bottom: 0;
  }
.title{
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}
.title span{
  font-weight: 300;
  display: block;
  font-size: .9em;
}
.cta-title{
  margin: 0 0 .5em;
}

@media (min-width: 60rem) {
  .title{
    font-size: 3.7rem;
  }

}
/* buttons */
.button{
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}
@media (min-width:60rem) {
  .button{
    font-size: 1.5rem;
  }
}
.button-small{
  font-size: 1rem;
  font-weight: 700;
}
.button-accent{
  color: #00ff6c;
  border-color: #00ff6c;
}
.button-accent:hover,
.button-accent:focus{
  background: #00ff6c;
  color: #232323;
}
.button-dark{
  color: #232323;
  border-color: #232323;
}
.button-dark:hover,
.button-dark:focus{
  background: #232323;
  color: #00ff6c;
}

/* header */
header{
  position: absolute;
  margin: 1em;
  left: 0;
  right: 0;
}
.logo{
  height: 40px;
  width: auto;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  /* float: right; */
}
nav li{
  display:inline-block;
  margin: .5em .3em;
}
nav a{
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #fff;
}
nav a:hover,
nav a:focus{
  color: #ddd;
}

@media (min-width:60rem) {
  .logo{
    float: left;
    height: 60px;
    width: auto;
  }
  nav{
    float: right;
  }
}
.home-hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../img/beach.jpg);
  height: 80vh;
  padding: 5em 0;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width:60rem) {
  .home-hero{
    height: 100vh;
    padding-top: 25vh;
  }

}

/* home-hero */
.home-about-textbox{
  background-color: #232323;
  padding: 4em;
  width: 100vw;
  /* margin-left: -2.5%; */
  outline: 2px solid #00ff6c;
  outline-offset: -2.5em;
  color: #fff;
  position: relative;
}
.home-about-textbox h1{
  color: #00ff6c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .75em;
  background: #232323;
  padding: 0 .145em;
}
@media(min-width:25rem) {
  h1{
    font-size: 2rem;
    /* transition: translateY(-2rem); */
  }
  .home-about-textbox h1{
    top: .6em;
    padding: 0 .325em;
  }
}
@media (min-width: 60rem) {
  h1{
    font-size: 2rem;
  }
  .home-about{
    background-image:url(../img/vacation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5em;
  }
  .home-about-textbox{
    width: 40%;
    padding: 6em;
    outline-offset: -3em;
    margin-left: -2.5%;
    top: -8.5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }
  .home-about-textbox h1{
    top: .75em;
    left: 6rem;
    transform: translateX(0);
  }
}
/* portfolio  */

.portfolio{
  margin: 3em 0 0;
}
.port-item{
  margin: 0;
  position: relative;
}
.port-item img{
  display: block;
  /* height: 240px; */
}
.port-desc{
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
}
.port-desc p{
  margin: 1em;
}
@media (min-width: 25rem) {
  .port-item{
    width: 50%;
    float:left;
    overflow: hidden;
  }
}
@media (min-width: 60rem) {
  .port-item{
    width: 33.3333334%;
  }
  .port-desc{
    transform: translateY(150%);
  }
  .port-item:hover .port-desc{
    transform: translateY(0%);
  }
}
/* CTA */
.cta{
  background-color: #00ff6c;
  padding: 3em 0;
}
/* footer */
footer{
  background: #232323;
  position: absolute;
  padding: 0;
  margin:0;
  left: 0;
  right: 0;
}
footer ul{
  margin: 0 3em;
  padding: 0;
  list-style: none;
}
footer li{
  display:inline-block;
  margin: 1em;
}footer a{
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #fff;
}
footer:hover,
footer:focus{
  color: #ddd;
}
.footer-underline{
  width: 5em;
  height: .1rem;
  margin: 0 auto;
  background-color: #ddd;
}
.fa-copyright{
  margin-top: 1em;

}
